<% include header.ejs %>

<h1> Welcome to Sample Guest Book App <a href="/new-entry" class="btn btn-primary pull-right"> New-Entry </a> </h1>

<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %> </div>
<h3 class="panel-title"><%= entry.title %></h3>by <%= entry.author %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry" class="hLink">Add one!</a>
<% } %>

<% include footer.ejs %>
