<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RavvaVamsi WebServices</title>
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/RavvaVamsiCSS.css">
	<link rel="stylesheet" type="text/css" href="css/guestbook.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
</head>
<body>
<header>
	<nav class="navbar navbar-default navbar-prmy">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">RavvaVamsi</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
	        <li><a href="contact">Contact</a></li>
	        <li><a href="about">About</a></li>
	        <li><a href="services">Services</a></li>
	        <li class="active"><a href="guestbook">GuestBook</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right scIcons">
	        <li>
				<a href="https://github.com/rsmsvamsi" target="_blank" ><i class="fa fa-github-square" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="https://bitbucket.org/rsmsvamsi" target="_blank" ><i class="fa fa-bitbucket-square" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/ravvavamsi" target="_blank" ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="https://facebook.com/ravvavamsi" target="_blank"  ><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="https://twitter.com/ravvavamsi" target="_blank" ><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
			</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>
<div class="container">