body{
	background:#674867;
    color: #ffffff;
    font-family: "Josefin Slab";
}
.panel-title{
	font-size: 1.8em;
}
div.panel-body{
	color: #000000;
	font-size: 1.2em;
}
footer{
	color:#ffffff;
}
.hLink{
	color: yellow;
	text-decoration: underline;
	font-weight: 700;
}
a:hover{
	color: orange;
}