body{
	background-color: #674867;
	color: #fff;
	font-family: "Josefin Slab";
}
.navbar-prmy{
	/*background-color:#3b5998;	*/
}

img{
	max-width: 100%;
}
h1{
	font-family: Sacramento;
}
a{
	color: #fff;
}
a:hover{
	color: #fff;
	font-weight: 700;
}
label{
	font-weight: 400;
}
form[name="ctForm"] button{
	color: #1d1212;
    font-size: 1.25em;
}
.scIcons{
	color: #1d1212;
	font-size: 1.7em;
}
.scIcons li>a{
	padding-top: 0.32em;
	padding-right: 0.2em;
	padding-left: 0.2em;
	padding-bottom: 0em;
	/*font-size: 2em;*/
}
.tcenter{
	text-align: center;
}
.hinfo{
	margin-top: 12%;
}
.hinfo h1{
	font-family: Sacramento;
}
.hinfo p{
	font-size:1.5em;
}

.navbar-default .navbar-nav>li>a {
    color: #1d1212;
    font-size: 1.3em;
    font-family: "Croissant One";
}
.navbar-brand {
	color: #1d1212;
	font-size: 1.3em;
    font-family: "Croissant One";
}
.chkBox {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}
td
.serverTypes i{
    font-size: 77px;
}
.serverTypes{
    float:left;
    padding:10px;
    text-align: center;
    margin-right:10px;
    border: 1px solid #fff;
}
.txt_box{
    /*padding: 10px;*/
    color: #1d1212;
    text-align: center;
    background: #ffffff;
    border-radius: 3px;
    /*width: 250px;*/
    margin: 0 auto;
    font-size: 1.2em;
}
.aBox{
    /*padding: 10px;*/
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    width: 85%;
    box-shadow: 2px 2px 7px;
}
.aBox label{
    /*font-size: 32px;*/
    font-weight: 700;
    font-family: Sacramento;
}
#amntTD{
    text-align: center;
}
#ttlAmnt{
    font-weight: 700;
    color:;
}
input{
	color: #000;
  font-weight: 700;
}
hr{
	margin:0;
}
#suc{
  font-weight: green;
  font-weight: 700;
  font-size: 1em;
}
.mdB{
  color: #1d1212;
  font-size: 2em;
  font-weight: 700;
}
footer{
  padding: 0.5em;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}
.btn{
  font-family: "Josefin Slab";
}